body{
    margin: 0;
    font-family: "Source Code Pro", monospace;
         font-weight: 300;
}
header{
   margin: 0;
   font-size: 1.5rem;
   
}
h2{
   margin: 0;
   font-size: 3rem;
     font-weight: 300;
}
h3{
   margin: 0;
   font-size: 3rem;
   color:  #545454;
   
}
article{
   margin: 3rem 0;
   font-size: 2rem;
    color:  #545454;
    padding: 1rem;
}



header{
    background-image: url(images/Katrina\ Duran\ Logo.svg);
     color: #F2EBDC;
     padding: 75rem 1rem 0 1rem;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     background-position: right -15px bottom;
}
header>img{
  display: block;
  margin: auto;
    max-width: 125rem;
}
header>h1{
    display: none;
    margin: 1rem 0;
    vertical-align: text-top;
}
header>nav>a{
background-color: #F2EBDC;
 color: #545454;
 text-decoration: none;
 padding: 1rem;
 display: inline-block;
 border-radius: 10rem;
 margin: auto;
}
header>nav{
    padding-bottom: 1rem;
    padding-left: 0rem;
    padding-right: 1rem;
    padding-top: 0rem;
    text-align: right;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}
header>nav>a:hover{
    background-color: #545454;
       color: #F2EBDC;
    border: 1px solid #F2EBDC;;
}
header>nav>a{
    border: 1px solid transparent;
}
body{
    background-color: #F2EBDC;
}
.About p{
text-align: center;
}
.About h2{
  text-align: center;  
}
main{
    background-color: #F2EBDC;;
    padding: 1rem;
    max-width: 60rem;
    margin: 1rem auto;
}
h2{
      color: #545454;
    padding: 1rem;
    margin: 0 0 1rem
    }
#Contact{
    color: #F2EBDC;
    padding: 1rem;
    margin: 0 0 1rem
}

body>footer{
    background-color: #545454;
    color: #F2EBDC;
    padding: 1rem;
    text-align: left;
    font-weight: 300;
}
body>footer>a{
    color: #F2EBDC;
    margin: 1rem;
    display: block;
    font-size: 2rem;
    font-weight: 300;
    
}
    
footer{
    position: relative;
         font-weight: 300;
}

.gallery{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gallery h2{
    grid-column: 1/5;
}
#gallery h2{
        text-align: left;
}
.gallery img{
    max-width: 100%;
}
.football{
grid-column: 1/5;  
grid-row: span 2;
}
.bottom{
    grid-row: span 2;
    grid-column: span 2;
}
.gallery {
  padding: 40px;
  background-color: #F2EBDC;
  border-top: 1.75px solid #545454;  
  border-bottom: 1.75px solid #545454; 
}
#About:after{
content: '';
border-bottom: 1.75px solid #545454;
height: 1.75px;
position: absolute;
right: 0;
width: 30%;
display: block;
top: 47px;
}
#About{
    position: relative;
    text-align: center;
}
#About:before{
content: '';
border-bottom: 1.75px solid #545454;
height: 1.75px;
position: absolute;
left: 0;
width: 30%;
display: block;
top: 47px;
}
#Gallery:after{
content: '';
border-bottom: 1.75px solid #545454;
height: 1.75px;
position: absolute;
right: 0;
width: 73%;
display: block;
top: 47px;
}
#Gallery{
    position: relative;
}
#Contact:after{
content: '';
border-bottom: 1.75px solid #F2EBDC;
height: 1.75px;
position: absolute;
right: 0;
width: 87%;
display: block;
top: 47px;
}
#Contact{
    position: relative;
}

@media (max-width: 1000px) {

  header {
    padding-top: 40rem;
    background-size: cover;
  }

  header > nav {
    text-align: center;
  }

  header > nav > a {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
  }

  main {
    max-width: 90%;
    padding: 1rem;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
  }

  .football, .bottom {
    grid-column: span 1fr;
  }

  h2, h3 {
    font-size: 2rem;
  }

  article {
    font-size: 1.5rem;
  }

  footer {
    text-align: center;
  }
  #About:after{
content: '';
border-bottom: 1.75px solid #545454;
height: 1.75px;
position: absolute;
right: 0;
width: 38%;
display: block;
top: 36px;
}
#About{
    position: relative;
    text-align: center;
}
#About:before{
content: '';
border-bottom: 1.75px solid #545454;
height: 1.75px;
position: absolute;
left: 0;
width: 38%;
display: block;
top: 36px;
}
  #Gallery:after{
content: '';
border-bottom: 1.75px solid #545454;
height: 1.75px;
position: absolute;
right: 0;
width: 79%;
display: block;
top: 36px;
}
#Gallery{
    position: relative;
}
  #Contact:after{
content: '';
border-bottom: 1.75px solid #F2EBDC;
height: 1.75px;
position: absolute;
right: 0;
width: 82%;
display: block;
top: 36px;
}
#Contact{
    position: relative;
}

}


@media (max-width: 600px) {

  header {
    padding-top: 25rem;
    background-size: contain;
  }

  header > nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  header > nav > a {
    width: 80%;
    text-align: center;
    font-size: 1rem;
  }

  main {
    padding: 0.5rem;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr; 
  }

  h2, h3 {
    font-size: 1.8rem;
  }

  article {
    font-size: 1.2rem;
    padding: 0.5rem;
  }

  footer {
    font-size: 1rem;
    text-align: center;
  }

  footer a {
    font-size: 1rem;
  }
}

